* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  color: $default-color;
  margin: 0;
  padding: 0;
}

html {
  font-family: $sans-serif;
  overflow-y: scroll;
  font-size: 16px;
  @media (max-width: 700px) {
    font-size: 80%;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: $serif;
  line-height: normal;  
}

a {
  color: $blue;
  text-decoration: none;
}

blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 700px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin:auto;
  max-width: 100%;
}

td {
  vertical-align: top;
}

.logo {
  display: block;
  width: 40px;
  margin-bottom: -10px;
  @media (min-width: 700px) {
    float: left;
    width: 30px;
    margin-right: 10px;
  }
}
