.catalogue {
  :hover{
    .catalogue-title, .catalogue-post-content{
      color: black;
    }
  }

  &-image-box {
    float: left;
    width: 12.5%;
    margin-right: 20px;
    margin-bottom: 5px;
    @media (max-width: 700px) {
      width: 16%;
    }
  }
  
  &-title-box{
    display: inline;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-shade;
    width: 2rem;
    display: inline-block;
    position: absolute;
  }

  &-post-content{
    margin-top: 8%;
  }

  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: block;
    padding: 2rem 0;
    
    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $default-tint;
    font-family: $sans-serif;
    letter-spacing: .5px;
    display: block;
  }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $serif;
    font-size: 2rem;
    font-weight: 700;
    margin: .5rem 0;
    @media (max-width: 700px) {
      font-size: 130%;
    }
  }
}
