.image-box {
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: 0px 10px;
  font-size: 0px;
  vertical-align: bottom;
  width: 100px;
}

.post-title-box{
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 100%;
}

.catalogue {
  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: block;
    padding: 2rem 0;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $default-tint;
    font-family: $sans-serif;
    letter-spacing: .5px;
    display: block;
  }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $serif;
    font-size: 2rem;
    font-weight: 700;
    margin: .5rem 0;
    @media (max-width: 700px) {
      font-size: 150%;
    }
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-shade;
    width: 2rem;
  }
}
