/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  top: 20px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #ccc;
  top: 0;
  bottom: 0;
  left: 31px;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #000000;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent  #ccc ;
}

/* The actual content */
.content {
  padding: 1px 15px;
  background-color:  rgb(223, 223, 223);
  position: relative;
  border-radius: 4px;
}

/* Make sure all circles are at the same spot */
.left::after, .right::after {
  left: 15px;
}

/* Make all right containers behave like the left ones */
.right, .left {
  left: 0%;
}

.cv-city{
  font-size: 12px;
}